<h1>Animals</h1>

<ul>
  <% @animals.each do |animal| %>
    <li><%= link_to animal.name, animal_path(animal) %></li>
  <% end %>
</ul>

<p><%= link_to "Add an animal", new_animal_path(@animal) %></p>
